:root {
  --main-text-color: #fff;
  --secoundary--text-color: #727276;
  --main-backgroundColor: #000000;
  --secoundary-backgroundColor: #161617;
}

.maxWidth {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0rem;
}

.maxWidth2 {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0rem;
}

.cards {
  background-color: var(--main-backgroundColor);
  border-radius: 1.5rem;
  overflow: hidden;
}

.shiftTop {
  padding-top: 2rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.block2 {
  height: 1rem;
}

#mainHeading {
  font-size: 2rem;
  color: #cecece;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #v0 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 75rem;
    height: auto;
    opacity: 1;
    margin-left: -25rem;
  }
  #mainHeading {
    font-size: 1.2rem;
  }
  #heading1 {
    font-size: 1.3rem;
  }
  .mobileVid {
    top: 0;
    left: 0;
    width: 75rem;
    height: auto;
    opacity: 1;
    margin-left: -25rem;
  }
  .hideMobileFlex {
    display: none;
  }
  .defaultPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .gridSection2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .hideMobileAndTab {
    display: none;
  }
  .hideDexktop {
    display: block;
  }
  .fixedVid2 {
    top: 30rem;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 1;
    height: 0vh;
    position: fixed;
    visibility: visible;
  }
  .section2Box > div {
    height: 380vh;
    /* border-radius: 30px; */
  }
}

.rotatate {
  rotate: 180;
}

#productText {
  font-size: 1.4rem;
}
#product2 {
  font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #v0 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 75rem;
    height: auto;
    opacity: 1;
    margin-left: -25rem;
  }
  #heading1 {
    font-size: 1.3rem;
  }
  .mobileVid {
    top: 0;
    left: 0;
    width: 75rem;
    height: auto;
    opacity: 1;
    margin-left: -25rem;
  }
  .hideMobileFlex {
    display: none;
  }
  .defaultPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gridSection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .gridSection2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .hideMobileAndTab {
    display: none;
  }
  .hideDexktop {
    display: block;
  }
  .fixedVid2 {
    top: 30rem;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 1;
    height: 0vh;
    position: fixed;
    visibility: visible;
  }
  .section2Box > div {
    height: 360vh;
    /* border-radius: 30px; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #v0 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 120rem;
    height: auto;
    opacity: 1;
    margin-left: -32rem;
  }
  #heading1 {
    font-size: 2.5rem;
  }
  .mobileVid {
    top: 0;
    left: 0;
    width: 120rem;
    height: auto;
    opacity: 1;
    margin-left: -32rem;
  }
  .hideMobileFlex {
    display: block;
  }
  .defaultPadding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gridSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .gridSection2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }
  .hideMobileAndTab {
    display: none;
  }
  .hideDexktop {
    display: block;
  }
  .fixedVid2 {
    top: 30rem;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 1;
    height: 0vh;
    position: fixed;
    visibility: visible;
  }
  .section2Box > div {
    height: 200vh;
    /* border-radius: 30px; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #v0 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
  }
  #heading1 {
    font-size: 2.6rem;
  }
  .mobileVid {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
  }
  .hideMobileFlex {
    display: flex;
  }
  .defaultPadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .gridSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .gridSection2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }
  .hideMobileAndTab {
    display: block;
  }
  .hideDexktop {
    display: none;
  }
  .fixedVid2 {
    top: 30rem;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 1;
    height: 0vh;
    position: fixed;
    visibility: visible;
  }
  .section2Box > div {
    height: 290vh;
    /* border-radius: 30px; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #v0 {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
  }
  .mobileVid {
    /* position: fixed; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: 0;
  }
  #heading1 {
    font-size: 2.6rem;
  }
  .hideMobileFlex {
    display: flex;
  }
  .defaultPadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .gridSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .gridSection2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }

  .hideMobileAndTab {
    display: block;
  }
  .hideDexktop {
    display: none;
  }
  .fixedVid2 {
    top: 50rem;
    left: 0;
    right: 0;
    width: 100vw;
    opacity: 1;
    height: 0vh;
    position: fixed;
    visibility: none;
  }
  .section2Box > div {
    height: 250vh;
    /* border-radius: 30px; */
  }
}

.borderRadius {
  border-radius: 20px;
}

.borderRadiusNone {
  border-radius: none;
}
